.jumbotron {
    background-image: url("static/images/microbes.jpg");
    background-size: 100%;
      text-align: center;   
      font-weight: bold;
      color: rgb(238, 233, 229);
  }
  
  div.jumbotron > h1 {
      text-shadow: 1px 1px 2px black;
  }
  p{
      text-shadow: 1px 1px 2px black;
  }
  body {
      background-image: url("static/images/body.jpg");
      background-size: 100%;
      text-align: center; 
  }