body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

html {
    box-sizing: border-box;
    background-image: url("static/images/Error.jpg") !important;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

.about-section {
    padding: 50px;
    text-align: center;
    background-image: url("../images/Error.jpg");
    background-size: contain;
    color: white;
    font-weight: 800;
}

.container {
    width: 80%;
    padding: 0 16px;
}

.container::after,
.row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: rgb(237, 229, 229);
}

@media screen and (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}
.logo{
    float: left;
}


nav ul{
    margin: 0;
    padding: 0;
    list-style: none;

    text-transform: uppercase;
    position: relative;
}


nav li{
    display: inline-block;
    list-style-type: none;

    padding: 25px;
    margin: 35px;
    font-size: 20px;
    font-weight: 900;

    position: relative;
}

nav a{
    color: lightgray;
    position: relative;
    text-decoration: none !important;
}

nav a:hover{
    color: #000;
}

nav a::before{
    content: '';
    display: block;

    background-color: lightseagreen;

    position: absolute;
    top: 0;
    height: 2px;
    width: 0%;

    transition: all ease-in-out 200ms;

}

nav a:hover::before{
    width: 100%;
}






menu{
    background-color: #494b4b ;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

menu::after{
    content: '';
    display: table;
    clear: both;
}