<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>"G4:Error 404"</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Original theme -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="../static/css/about_style.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.0.4/chroma.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>





<body>
    <menu>
        <!-- Navigation-->

        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container px-4 px-lg-5">
                <img src="../static/images/globe.svg" width="100" height="100" class="logo" alt="">
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link" href="/" class="d-inline-block align-top"
                                alt="Home">World Happiness: 2021</a></li>
                        <li class="nav-item"><a class="nav-link" href="about.html">About Us: Error 404</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="Nehir_leaflet.html" target="_blank">Nehir: Leaflet</a>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="dannie.html">Dannie:visual </a> </li>
                        <li class="nav-item"><a class="nav-link"
                                href="https://github.com/yaparnehir/Final_Project" target="_blank">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </menu>
    <div class="about-section">
        <h1><b>?About Us?</b></h1>
        <p><br>Just some coders who were never really here!</p>
    </div>

    <h2 style="text-align:center">Our Team</h2>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src=" " alt="Nusrat" style="width:100%">
                <div class="container">
                    <h2>Nusrat Jahan</h2>
                    <p class="title">Machine Learning/Python/GitHub/Tableau</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>insert@example.com</p>
                    <p><button class="button"><a href= "https://github.com/Nusratnimme" target="_blank">GITHUB</a></button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src=" " alt="Danielle" style="width:100%">
                <div class="container">
                    <h2>Danielle Sherman</h2>
                    <p class="title">GitHub/Python/Tableau</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>insert@example.com</p>
                    <p><button class="button"><a href= "https://github.com/Dannieshe" target="_blank">GITHUB</a></button></p>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src=" " alt="Amanda" style="width:100%">
                <div class="container">
                    <h2>Amanda Borges Rodrigues</h2>
                    <p class="title">GitHub/SQL/Python/PGAdmin4</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>insert@example.com</p>
                    <p><button class="button"><a href= "https://github.com/amandabr88" target="_blank">GITHUB</a></button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src=" " alt="Nehir" style="width:100%">
                <div class="container">
                    <h2>Nehir YAPAR</h2>
                    <p class="title">GitHub/Leaflet/Mapbox/JavaScript</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>insert@example.com</p>
                    <p><button class="button"><a href= "https://github.com/yaparnehir" target="_blank">GITHUB</a></button></p>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="../static/images/blank_pfp.png" alt="Kartikye" style="width:100%;;height:100%;">
                <div class="container">
                    <h2>Kartikye Ghai</h2>
                    <p class="title">JavaScript/HTML/CSS/Python/PGAdmin4</p>
                    <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>insert@example.com</p>
                    <p><button class="button"><a href= "https://github.com/KdotGhai" target="_blank">GITHUB</a></button></p>
                </div>
            </div>
        </div>
    </div>


</body>


</html>